<div class="container">
<div class="row summary">
    <div class="col-md-4 text-centered margin-top-40">
        
            <i class="fa fa-universal-access fa-5x" aria-hidden="true"></i>
        
        <h2>Personen</h2>
        <p>
            <strong>Vraag</strong><br>
            Ik ben op zoek naar iemand, die mij verder gaat helpen
            in mijn huidige functie, echt invulling gaat geven aan mijn persoonlijke ontwikkeling
            of mij helpt in een nieuwe baan.
            <ul class="list-group">
                <li class="list-group-item">Persoonlijke ontwikkeling</li>
                <li class="list-group-item">Inhoudelijke ondersteuning</li>
                <li class="list-group-item">Ondernemerschap</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4 text-centered margin-top-40">
        
        <i class="fa fa-building fa-5x" aria-hidden="true"></i>
        
        <h2>Bedrijven</h2>
        <p>
            <strong>Vraag</strong><br>
            Ik wil mijn medewerkers verder gericht ontwikkelen, inspireren of hulp bij de teamontwikkeling.
            <ul class="list-group">
                <li class="list-group-item">Sturen op competenties</li>
                <li class="list-group-item">Motiveren</li>
                <li class="list-group-item">Teambuilding</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4 text-centered margin-top-40">
        
        <i class="fa fa-bomb fa-5x" aria-hidden="true"></i>
        
        <h2>Inspiratie</h2>
        <p>
            Aenean porta, lacus eget pellentesque ornare, velit lorem volutpat mi, non imperdiet est ante a est. Nulla porttitor tincidunt mi, commodo sollicitudin est vehicula a. Sed commodo fermentum venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque cursus, ipsum sit amet rutrum fermentum, ipsum lectus lobortis risus, non blandit lectus mi vitae sem.
        </p>
    </div>
</div>