<div class="row splashscreen">
    <p class="splashscreen-readmore text-centered">
        
        
        <a href="#first-article" class="darkred">
            <i class="fa fa-chevron-circle-down fa-5x faa-pulse animated splashscreen-readmore-button"></i>
        </a>
        
        
    </p>
    
    <div class="splashscreen-buttons">
        <a href="mailto:<%= contact.email %>" class="darkred">
            <i class="fa fa-envelope-o fa-2x splashscreen-readmore-button"></i>
        </a>
    </div>
</div>