<% include ./_html/head %>

<% include ./_elements/navigation-top-bar %>

<div id="top-of-the-page"></div>
    <% include ./components/splashscreen %>

<div id="first-article"></div>
    <% include ./components/introduction %>
    <% include ./components/examples %>
    
<div id="about"></div>    
    <% include ./components/about %>
    
<% include ./_html/scripts %>