<ol class="breadcrumb">
    
    
    <% if(breadcrumbs) { %>
    
    <% breadcrumbs.forEach(function(crumb) { %>
        <li><a href="<%= crumb.url %>"><%= crumb.name%></a></li>
    <% }); %>
    
    <% } %>
    

</ol>

<div class="form-group">
    <label for="url">Url</label>
    <input type="text" class="form-control" id="url" value="<%= url %>">
  </div>