<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>
<div class="container">
        <div class="row">
            <br><br>
            <h1><i class="fa fa-frown-o" aria-hidden="true"></i> Page not found.</h1>
            <div class="well well-lg">
                <p>
                    Sorry, maar <code><%= url %></code> is geen pagina van deze website.
                </p>
                <br>
                <a class="btn btn-danger btn-lg" href="/">Ga terug naar de homepage.</a>
            </div>
        </div>
</div>

<% include ../_html/scripts %>